- name: Start and Enable docker service
  ansible.builtin.service:
    name: docker
    state: started
  register: dockerservice_out

- name: Print docker status
  ansible.builtin.debug:
    msg: "Docker service is: {{ dockerservice_out.status.ActiveState }}"

- name: Pull nginx and mysql images
  community.docker.docker_image:
    name: "{{ item }}"
    source: pull
  loop: 
    - nginx
    - mysql:5.6