- name: Start Docker service
  service:
    name: docker
    state: started
    enabled: yes

- name: Pull Nginx image
  community.docker.docker_image:
    name: nginx
    source: pull

- name: Pull mysql image
  community.docker.docker_image:
    name: mysql:5.6
    source: pull

- name: Create and start Nginx container
  community.docker.docker_container:
    name: nginx_container
    image: nginx
    state: started
    ports:
      - "8080:80"

- name: Create mysql container
  community.docker.docker_container:
    name: mysql_container
    image: mysql:5.6
    env:  # Credentials can be change, as required
      MYSQL_ROOT_PASSWORD: ansible
      MYSQL_USER: ansible
      MYSQL_PASSWORD: ansible
      MYSQL_DATABASE: ansible
    state: started
    ports: 
      - "3306:3306"
    restart_policy: always

- name: Ensure Nginx container is running
  community.docker.docker_container_info:
    name: nginx_container
  register: nginx_info

- name: Debug Nginx container status
  debug:
    msg: "Nginx container status: {{ nginx_info.container.State.Status }}"

- name: Ensure mysql container is running
  community.docker.docker_container_info:
    name: mysql_container
  register: mysql_info

- name: Debug mysql container status
  debug:
    msg: "mysql container status: {{ mysql_info.container.State.Status }}"

- name: Show all running containers before termination
  command: docker ps --format "{{'{{'}}.Names{{'}}'}}"
  register: all_containers_before

- name: Debug all running containers before termination
  debug:
    msg: "All running containers before termination: {{ all_containers_before.stdout_lines }}"

# Remove containers
#- name: Terminate Nginx container
#  community.docker.docker_container:
#    name: nginx_container
#    state: absent
#
#- name: Terminate mysql container
#  community.docker.docker_container:
#    name: mysql_container
#    state: absent
#
#- name: Show all running containers after termination
#  command: docker ps --format "{{'{{'}}.Names{{'}}'}}"
#  register: all_containers_after
#
#- name: Debug all running containers after termination
#  debug:
#    msg: "All running containers after termination: {{ all_containers_after.stdout_lines }}"