- name: Start and Enable docker service
  ansible.builtin.service:
    name: docker
    state: started
  register: dockerservice_out

- name: Print docker status
  ansible.builtin.debug:
    msg: "Docker service is: {{ dockerservice_out.status.ActiveState }}"

- name: Pull nginx and mysql images
  community.docker.docker_image:
    name: "{{ item }}"
    source: pull
  loop: 
    - nginx
    - mysql:5.6
  register: images_out

- name: Create nginx container
  community.docker.docker_container:
    name: mynginxcontainer
    image: nginx:latest
    state: started
    ports: 
      - "8080:80"

- name: Create mysql container
  community.docker.docker_container:
    name: mymysqlcontainer
    image: mysql:5.6
    environment:
      MYSQL_ROOT_PASSWORD: ansible
      MYSQL_USER: ansible
      MYSQL_PASSWORD: ansible
      MYSQL_DATABASE: ansible
    state: started
    ports: 
      - "3306:3306"
    restart_policy: always
